/* .taskViewDiv {
    display: center;
    width: 100%;
} */

.titleDiv {
    margin: auto;
    width: 50%;
    padding: 2px;
    position: relative;
}

.title {
    text-align: center;
    /* color: #135bc6; */
    color: #101935;
}

.user {
    text-align: center;
}

.newTaskButton {
    bottom: 0;
    left: 0;
    position: fixed;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    background-color: #564787;
    color: white;
}

.taskItem {
    border: 1px solid black;
    margin: auto;
    width: 85%;
    padding: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    text-align: left;
    background-color: #fbf3ea;
    border-radius: 15px;
}

.viewBtn {
    padding: 100px;
    background-color: #564787;
    color: white;
    font-family: 'Poppins';
    position: relative;
    display: block;
    border-radius: 20px;
}

#taskContainer {
    background-color: #d0dbe1;
    margin: auto;
    width: 65%;
    position: relative;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}
